<!--
Project: upload-for-multiple
FileDirPath: src/template/ejs/head_meta/Meta_AppLinks_001.ejs
Author: 12278
Email: 1227839175@qq.com
IDE: WebStorm
CreateDate: 2024-1-1 00:00:00 星期一
-->
<!--App Links，用于从web跳到对应的原生应用以及页面被分享时链接展现样式。-->
<% if(appLinks !== null && appLinks !== undefined){ %>
    <!--
    al:web:url中content的值，如：'/?feature=applinks'，web自己跳自己，所以能以“/”开头，如果是完整的地址，最好提供https://的地址。
    -->
    <% if(appLinks.web !== null && appLinks.web !== undefined){ %>
        <% if(appLinks.web.url !== null && appLinks.web.url !== undefined){ %>
            <meta property = 'al:web:url'
                  content = '<%= appLinks.web.url %>' />
        <% } %>
    <% } %>

    <% if(appLinks.ios !== null && appLinks.ios !== undefined){ %>
        <!--
        al:ios:app_store_id中content的值，如：1017492454，iOS应用在苹果应用商店（App Store）中的应用唯一ID。
        -->
        <% if(appLinks.ios.appStoreId !== null && appLinks.ios.appStoreId !== undefined){ %>
            <meta property = 'al:ios:app_store_id'
                  content = '<%= appLinks.ios.appStoreId %>' />
        <% } %>
        <!--
        al:ios:app_name中content的值，如：YouTube Music，应用名。
        -->
        <% if(appLinks.ios.appName !== null && appLinks.ios.appName !== undefined){ %>
            <meta property = 'al:ios:app_name'
                  content = '<%= appLinks.ios.appName %>' />
        <% } %>
        <!--
        al:ios:url中content的值，如：vnd.youtube.music://music.youtube.com/?feature=applinks，一般是原生应用提供的自定义协议，用于web跳到原生应用。
        -->
        <% if(appLinks.ios.url !== null && appLinks.ios.url !== undefined){ %>
            <meta property = 'al:ios:url'
                  content = '<%= appLinks.ios.url %>' />
        <% } %>
    <% } %>

    <% if(appLinks.android !== null && appLinks.android !== undefined){ %>
        <!--
        al:android:package中content的值，如：com.google.android.apps.youtube.music，安卓应用包名，一般具有唯一性。
        -->
        <% if(appLinks.android.packageName !== null && appLinks.android.packageName !== undefined){ %>
            <meta property = 'al:android:package'
                  content = '<%= appLinks.android.packageName %>' />
        <% } %>
        <!--
        al:android:app_name中content的值，如：YouTube Music，应用名。
        -->
        <% if(appLinks.android.appName !== null && appLinks.android.appName !== undefined){ %>
            <meta property = 'al:android:app_name'
                  content = '<%= appLinks.android.appName %>' />
        <% } %>
        <!--
        al:android:url中content的值，如：vnd.youtube.music://music.youtube.com/?feature=applinks，一般是原生应用提供的自定义协议，用于web跳到原生应用。
        -->
        <% if(appLinks.android.url !== null && appLinks.android.url !== undefined){ %>
            <meta property = 'al:android:url'
                  content = '<%= appLinks.android.url %>' />
        <% } %>
    <% } %>

    <!--
    以下5个都是分享用的，页面被分享时链接展现样式。
    -->
    <% if(appLinks.share !== null && appLinks.share !== undefined){ %>
        <!--
        al:type中content的值有：
        website：网站。
        article：文章。
        book：书籍。
        profile：个人。
        music.song：歌曲。
        music.album：歌曲专辑。
        music.playlist：歌曲播放列表。
        music.radio_station：广播电台。
        video.movie：电影。
        video.episode：插曲。
        video.tv_show：电视节目。
        video.other：其他类别的视频。
        -->
        <% if(appLinks.share.type !== null && appLinks.share.type !== undefined){ %>
            <meta property = 'al:type'
                  content = '<%= appLinks.share.type %>' />
        <% } %>
        <!--
        al:url中content的值，如：'https://www.xxx.com/'，所要分享页面的地址，可以不是当前页面的地址，如其他页面的地址，最好提供https://的地址。
        -->
        <% if(appLinks.share.url !== null && appLinks.share.url !== undefined){ %>
            <meta property = 'al:url'
                  content = '<%= appLinks.share.url %>' />
        <% } %>
        <!--
        al:title中content的值为分享显示的标题，同<title></title>标签内的值。
        -->
        <% if(appLinks.share.title !== null && appLinks.share.title !== undefined){ %>
            <meta property = 'al:title'
                  content = '<%= appLinks.share.title %>' />
        <% } %>
        <!--
        al:description中content的值为分享显示的描述，同<meta name = 'description' />的值。
        -->
        <% if(appLinks.share.description !== null && appLinks.share.description !== undefined){ %>
            <meta property = 'al:description'
                  content = '<%= appLinks.share.description %>' />
        <% } %>
        <!--
        al:image中content的值为图片地址，最好提供https://的图片地址。
        -->
        <% if(appLinks.share.image !== null && appLinks.share.image !== undefined){ %>
            <meta property = 'al:image'
                  content = '<%= appLinks.share.image %>' />
        <% } %>
    <% } %>
<% } %>
