<!--
Project: upload-for-multiple
FileDirPath: src/template/ejs/head_meta/Meta_og_001.ejs
Author: 12278
Email: 1227839175@qq.com
IDE: WebStorm
CreateDate: 2024-1-1 00:00:00 星期一
-->
<!--
2010年F8会议上Facebook公布了一套开放内容协议(Open Graph Protocol)，任何网页只要遵守该协议，SNS（如Fackbook、renren等）就能从页面上提取最有效的信息并呈现给用户。
关于“Open Graph Protocol”，其中一个功用就是“Facebook图文分享”，详细见OG官网：https://ogp.me/。
使用“Open Graph Protocol”的好处：
1、能够正确被蜘蛛抓取您的内容到搜索引擎。
2、帮助您的内容更有效的在搜索结构化展现。
3、能够正确的分享您的内容到SNS网站（如：Facebook、Twitter等等）。
4、帮助您的内容更有效的在SNS网络中传播（如：Facebook、Twitter等等）。
-->
<% if(og !== null && og !== undefined){ %>
    <!--
    og:type中content的值有：
    website（https://ogp.me/ns/website#）：网站，如果它是一个没有特定垂直行业的一般网站，你可能更适合使用“website”类型。
    article（https://ogp.me/ns/article#）：文章。
    book（https://ogp.me/ns/book#）：书籍。
    profile（https://ogp.me/ns/profile#）：个人。
    music.song（https://ogp.me/ns/music#）：歌曲。
    music.album（https://ogp.me/ns/music#）：歌曲专辑。
    music.playlist（https://ogp.me/ns/music#）：歌曲播放列表。
    music.radio_station（https://ogp.me/ns/music#）：广播电台。
    video.movie（https://ogp.me/ns/video#）：电影。
    video.episode（https://ogp.me/ns/video#）：插曲。
    video.tv_show（https://ogp.me/ns/video#）：电视节目。
    video.other（https://ogp.me/ns/video#）：其他类别的视频。

    更多类型见：
    https://developers.facebook.com/apps/redirect/open-graph/action-types
    -->
    <% if(og.type !== null && og.type !== undefined){ %>
        <meta property = 'og:type'
              content = '<%= og.type %>' />
    <% } %>
    <!--
    og:title中content的值为分享显示的标题。同<title></title>标签内的值。
    -->
    <% if(og.title !== null && og.title !== undefined){ %>
        <meta property = 'og:title'
              content = '<%= og.title %>' />
    <% } %>
    <!--
    og:url中content的值为分享的链接地址（当前页面的地址），也可以不是当前页面的链接地址（其他页面）。
    链接最好是https://的。-->
    <% if(og.url !== null && og.url !== undefined){ %>
        <meta property = 'og:url'
              content = '<%= og.url %>' />
    <% } %>
    <!--
    og:site_name中content的值为网站显示的名称，如：YouTube Music。
    -->
    <% if(og.siteName !== null && og.siteName !== undefined){ %>
        <meta property = 'og:site_name'
              content = '<%= og.siteName %>' />
    <% } %>
    <!--
    og:description中content的值为分享显示的描述。同<meta name = 'description' />的值。
    -->
    <% if(og.description !== null && og.description !== undefined){ %>
        <meta property = 'og:description'
              content = '<%= og.description %>' />
    <% } %>

    <!--
    标记这些标签的语言环境，格式为language_TERRITORY，默认为：en_US（英语，美国）。
    值有：
    af_AF（南非语）、ar_AE（阿拉伯语，阿拉伯联合酋长国）、ar_AR（阿拉伯语）、ar_BH（阿拉伯语，巴林）、ar_DZ（阿拉伯语，阿尔及利亚）、ar_EG（阿拉伯语，埃及）、ar_IQ（阿拉伯语，伊拉克）、
    ar_JO（阿拉伯语，约旦）、ar_KW（阿拉伯语，科威特）、ar_LB（阿拉伯语，黎巴嫩）、ar_LY（阿拉伯语，利比亚）、ar_MA（阿拉伯语，摩洛哥）、ar_OM（阿拉伯语，阿曼）、ar_QA（阿拉伯语，卡塔尔）、
    ar_SA（阿拉伯语，沙特阿拉伯）、ar_SD（阿拉伯语，苏丹）、ar_SY（阿拉伯语，叙利亚）、ar_TN（阿拉伯语，突尼斯）、ar_YE（阿拉伯语，也门）、az_AZ（阿塞拜疆语）、be_BY（白俄罗斯语）、
    bg_BG（保加利亚语）、bn_IN（孟加拉语，印度）、bs_BA（波斯尼亚语）、ca_CA（加泰罗尼亚语）、ca_ES_EURO（加泰罗尼亚语，西班牙，欧盟）、ca_ES（加泰罗尼亚语，西班牙）、cs_CZ（捷克语）、
    da_DK（丹麦语）、de_AT_EURO（德语，奥地利，欧盟）、de_AT（德语，奥地利）、de_CH（德语，瑞士）、de_DE_EURO（德语，欧盟）、de_DE（德语）、de_LU_EURO（德语，卢森堡，欧盟）、
    de_LU（德语，卢森堡）、el_GR（希腊语）、en_AU（英语，澳大利亚）、en_CA（英语，加拿大）、en_GB（英语，英国）、en_IE_EURO（英语，爱尔兰，欧盟）、en_IE（英语，爱尔兰）、en_NZ（英语，新西兰）、
    en_US（英语，美国）、en_ZA（英语，南非）、eo_EO（世界语）、es_AR（西班牙语，阿根廷）、es_BO（西班牙语，玻利维亚）、es_CL（西班牙语，智利）、es_CO（西班牙语，哥伦比亚）、
    es_CR（西班牙语，哥斯达黎加）、es_DO（西班牙语，多米尼加共和国）、es_EC（西班牙语，厄瓜多尔）、es_ES_EURO（西班牙语，西班牙，欧盟）、es_ES（西班牙语，西班牙）、es_GT（西班牙语，危地马拉）、
    es_HN（西班牙语，洪都拉斯）、es_MX（西班牙语，墨西哥）、es_NI（西班牙语，尼加拉瓜）、es_PA（西班牙语，巴拿马）、es_PE（西班牙语，秘鲁）、es_PR（西班牙语，波多黎哥）、
    es_PY（西班牙语，巴拉圭）、es_SV（西班牙语，萨尔瓦多）、es_UY（西班牙语，乌拉圭）、es_VE（西班牙语，委内瑞拉）、et_EE（爱沙尼亚语）、eu_EU（巴斯克语，欧盟）、fa_IR（波斯语）、
    fi_FI_EURO（芬兰语，芬兰，欧盟）、fi_FI（芬兰语）、fr_BE_EURO（法语，比利时，欧盟）、fr_BE（法语，比利时）、fr_CA（法语，加拿大）、fr_CH（法语，瑞士）、fr_FR_EURO（法语，法国，欧盟）、
    fr_FR（法语）、fr_LU_EURO（法语，卢森堡，欧盟）、fr_LU（法语，卢森堡）、ga_IE（爱尔兰语）、gl_ES（加利西亚语）、hi_IN（印地语，印度）、hr_HR（克罗地亚语）、hu_HU（匈牙利语）、
    hy_AM（亚美尼亚语）、id_ID（印度尼西亚语）、is_IS（冰岛语）、it_CH（意大利语，瑞士）、it_IT_EURO（意大利语，意大利，欧盟）、it_IT（意大利语）、iw_IL（希伯来语，以色列）、ja_JP（日语）、
    ka_GE（格鲁吉亚语或乔治亚语）、ko_KR（朝鲜语，韩国）、kur_CKB（库尔德语，库尔德中部地区）、kur_KMR（库尔德语，库尔德北部地区）、kur_KUR（库尔德语，标准）、kur_SDH（库尔德语，库尔德南部地区）、
    lt_LT（立陶宛语）、lv_LV（拉脱维亚语）、mk_MK（马其顿语）、ml_IN（马拉雅拉姆语，印度）、mn_MN（蒙古语）、ms_MY（马来语）、mt_MT（马耳他语）、nb_NO（挪威语）、nl_BE_EURO（荷兰语，比利时，欧盟）、
    nl_BE（荷兰语，比利时）、nl_NL_EURO（荷兰语，荷兰，欧盟）、nl_NL（荷兰语）、no_NO_NY（尼诺斯克语，挪威）、no_NO（挪威语）、pa_IN（旁遮普语，印度）、pl_PL（波兰语）、pt_BR（葡萄牙语，巴西）、
    pt_PT_EURO（葡萄牙语，葡萄牙，欧盟）、pt_PT（葡萄牙语，葡萄牙）、ro_RO（罗马尼亚语）、ru_RU（俄罗斯语）、sh_YU（塞波尼斯-克罗地亚语，南斯拉夫）、sk_SK（斯洛伐克语）、sl_SI（斯洛文尼亚语）、
    sq_AL（阿尔巴尼亚语）、sr_RS（塞尔维亚语）、sr_YU（塞尔维亚语，南斯拉夫）、sv_SE（瑞典语）、ta_TA（泰米尔语）、th_TH（泰语）、tl_TL（他加禄语）、tr_TR（土耳其语）、uk_UA（乌克兰语）、
    zh_CN（中文，中国大陆，简体）、zh_HK（中文，香港，繁体）、zh_MY（中文，马来西亚）、zh_TW（中文，台湾，繁体）等等。
    -->
    <% if(og.locale !== null && og.locale !== undefined){ %>
        <meta property = 'og:locale'
              content = '<%= og.locale %>' />
    <% } %>
    <!--
    此页面可用的一系列其他语言环境，值同上面的og:locale对应的值。
    -->
    <% if(Array.isArray( og.localeAlternate )){ %>
        <% for( const alternate of
                og.localeAlternate ){ %>
            <meta property = 'og:locale:alternate'
                  content = '<%= alternate %>' />
        <% } %>
    <% } %>

    <!--
    句子中出现在此对象标题之前的单词，值有：'a'、'an'、'the'、''、'auto'，如果选择'auto'，则数据的使用者应在'a'、'an'之间进行选择，默认为''（空白）。
    -->
    <% if(og.determiner !== null && og.determiner !== undefined){ %>
        <meta property = 'og:determiner'
              content = '<%= og.determiner %>' />
    <% } %>

    <!--og:image：<html prefix = 'og: https://ogp.me/ns#' >，Start-->
    <% if(og.image !== null && og.image !== undefined){ %>
        <!--
        分享显示的图片地址，链接最好是https://的。
        一些社交网络可能会对图像有特殊要求，例如，Twitter要求比例为2:1，最小尺寸为300x157，最大尺寸为4096x4096，小于5MB，JPG、PNG、WEBP、GIF等等格式。
        -->
        <% if(og.image.url !== null && og.image.url !== undefined){ %>
            <meta property = 'og:image'
                  content = '<%= og.image.url %>' />
        <% } %>
        <!--
        分享显示的图片地址，链接最好是https://的。
        -->
        <% if(og.image.url !== null && og.image.url !== undefined){ %>
            <meta property = 'og:image:url'
                  content = '<%= og.image.url %>' />
        <% } %>
        <!--
        og:image:secure_url中content的值是https站点必需的图片url，必须是https://协议的。
        https站点上面用的分享显示的备用图片。
        -->
        <% if(og.image.secureURL !== null && og.image.secureURL !== undefined){ %>
            <meta property = 'og:image:secure_url'
                  content = '<%= og.image.secureURL %>' />
        <% } %>
        <!--
        图像类型，如：image/jpeg。
        -->
        <% if(og.image.type !== null && og.image.type !== undefined){ %>
            <meta property = 'og:image:type'
                  content = '<%= og.image.type %>' />
        <% } %>
        <!--
        图像的像素宽度。
        -->
        <% if(og.image.width !== null && og.image.width !== undefined){ %>
            <meta property = 'og:image:width'
                  content = '<%= og.image.width %>' />
        <% } %>
        <!--
        图像的像素高度。
        -->
        <% if(og.image.height !== null && og.image.height !== undefined){ %>
            <meta property = 'og:image:height'
                  content = '<%= og.image.height %>' />
        <% } %>
        <!--
        对图像中内容的描述（不是标题），如果页面指定og:image，它应该也指定og:image:alt。
        -->
        <% if(og.image.alt !== null && og.image.alt !== undefined){ %>
            <meta property = 'og:image:alt'
                  content = '<%= og.image.alt %>' />
        <% } %>
    <% } %>
    <!--og:image：<html prefix = 'og: https://ogp.me/ns#' >，End-->

    <!--og:video，需要设置：<html prefix = 'og: https://ogp.me/ns#' >，Start-->
    <!--
    当“og:type”为video.movie、video.episode、video.tv_show、video.other时，就不用再设置“og:audio”了，会冲突。
    同样的，当“og:type”为music.song、music.album、music.playlist、music.radio_station时，就不用再设置“og:video”了，会冲突。
    -->
    <% if(og.video !== null && og.video !== undefined){ %>
        <!--
        og:video中content的值为视频的url，链接最好是https://的。
        如果要指定多个og:video，则每个视频都需要提供og:video:type以及其他对应的og属性（如：og:video:width、og:video:height、og:video:secure_url等等）。
        视频需要og:image标签，才能在动态消息中显示。
        其他信息还可见：
        https://developers.facebook.com/docs/sharing/webmasters#media
        -->
        <% if(og.video.url !== null && og.video.url !== undefined){ %>
            <meta property = 'og:video'
                  content = '<%= og.video.url %>' />
        <% } %>
        <!--
        og:video:secure_url中content的值为视频的url，是备用的安全协议https://的链接。
        -->
        <% if(og.video.secureURL !== null && og.video.secureURL !== undefined){ %>
            <meta property = 'og:video:secure_url'
                  content = '<%= og.video.secureURL %>' />
        <% } %>
        <!--
        og:video:type中content的值为视频的类型，如：application/x-shockwave-flash。
        -->
        <% if(og.video.type !== null && og.video.type !== undefined){ %>
            <meta property = 'og:video:type'
                  content = '<%= og.video.type %>' />
        <% } %>
        <!--
        og:video:width中content的值为限定视频或Flash的宽，值如：500（单位为：px）。
        -->
        <% if(og.video.width !== null && og.video.width !== undefined){ %>
            <meta property = 'og:video:width'
                  content = '<%= og.video.width %>' />
        <% } %>
        <!--
        og:video:height中content的值为限定视频或Flash的高，值如：500（单位为：px）。
        -->
        <% if(og.video.height !== null && og.video.height !== undefined){ %>
            <meta property = 'og:video:height'
                  content = '<%= og.video.height %>' />
        <% } %>
    <% } %>
    <!--
    当“og:type”为video.movie、video.episode、video.tv_show、video.other时，还可以设置如下属性。
    -->
    <!--Video，需要设置：<html prefix = 'og: https://ogp.me/ns/video#' >，Start-->
    <% if(og.videoType !== null && og.videoType !== undefined){ %>
        <!--电影，对应og:type为video.movie-->
        <% if(og.videoType.movie !== null && og.videoType.movie !== undefined){ %>
            <!--
            video:actor：电影中的演员。
            video:actor:role：他们扮演的角色。
            -->
            <% if(og.videoType.movie.actorToRole !== null && og.videoType.movie.actorToRole !== undefined){ %>
                <% Object.entries( og.videoType.movie.actorToRole ).forEach( ( [ actor, role ] ) => { %>
                    <!--
                    video:actor：电影中的演员。
                    -->
                    <meta property = 'og:video:actor'
                          content = '<%= actor %>' />
                    <!--
                    video:actor:role：他们扮演的角色。
                    -->
                    <meta property = 'og:video:actor:role'
                          content = '<%= role %>' />
                <% } ) %>
            <% } %>
            <!--
            video:director：电影导演。
            -->
            <% if(Array.isArray( og.videoType.movie.directors )){ %>
                <% for( const director of
                        og.videoType.movie.directors ){ %>
                    <meta property = 'og:video:director'
                          content = '<%= director %>' />
                <% } %>
            <% } %>
            <!--
            video:writer：电影编剧。
            -->
            <% if(Array.isArray( og.videoType.movie.writers )){ %>
                <% for( const writer of
                        og.videoType.movie.writers ){ %>
                    <meta property = 'og:video:writer'
                          content = '<%= writer %>' />
                <% } %>
            <% } %>
            <!--
            video:duration：值范围大于等于1，电影的长度（以秒为单位）。
            -->
            <% if(og.videoType.movie.duration !== null && og.videoType.movie.duration !== undefined){ %>
                <meta property = 'og:video:duration'
                      content = '<%= og.videoType.movie.duration %>' />
            <% } %>
            <!--
            video:release_date：电影上映日期，使用GMT（ISO 8601）的时间格式。
            -->
            <% if(og.videoType.movie.releaseDate !== null && og.videoType.movie.releaseDate !== undefined){ %>
                <meta property = 'og:video:release_date'
                      content = '<%= og.videoType.movie.releaseDate %>' />
            <% } %>
            <!--
            video:tag：与这部电影相关的标签词。
            -->
            <% if(Array.isArray( og.videoType.movie.tags )){ %>
                <% for( const tag of
                        og.videoType.movie.tags ){ %>
                    <meta property = 'og:video:tag'
                          content = '<%= tag %>' />
                <% } %>
            <% } %>
        <% } %>

        <!--电影插曲、电影片段，对应og:type为video.episode-->
        <% if(og.videoType.episode !== null && og.videoType.episode !== undefined){ %>
            <!--
            video:actor：电影中的演员。
            video:actor:role：他们扮演的角色。
            -->
            <% if(og.videoType.episode.actorToRole !== null && og.videoType.episode.actorToRole !== undefined){ %>
                <% Object.entries( og.videoType.episode.actorToRole ).forEach( ( [ actor, role ] ) => { %>
                    <!--
                    video:actor：电影中的演员。
                    -->
                    <meta property = 'og:video:actor'
                          content = '<%= actor %>' />
                    <!--
                    video:actor:role：他们扮演的角色。
                    -->
                    <meta property = 'og:video:actor:role'
                          content = '<%= role %>' />
                <% } ) %>
            <% } %>
            <!--
            video:director：电影导演。
            -->
            <% if(Array.isArray( og.videoType.episode.directors )){ %>
                <% for( const director of
                        og.videoType.episode.directors ){ %>
                    <meta property = 'og:video:director'
                          content = '<%= director %>' />
                <% } %>
            <% } %>
            <!--
            video:writer：电影编剧。
            -->
            <% if(Array.isArray( og.videoType.episode.writers )){ %>
                <% for( const writer of
                        og.videoType.episode.writers ){ %>
                    <meta property = 'og:video:writer'
                          content = '<%= writer %>' />
                <% } %>
            <% } %>
            <!--
            video:duration：值范围大于等于1，电影的长度（以秒为单位）。
            -->
            <% if(og.videoType.episode.duration !== null && og.videoType.episode.duration !== undefined){ %>
                <meta property = 'og:video:duration'
                      content = '<%= og.videoType.episode.duration %>' />
            <% } %>
            <!--
            video:release_date：电影上映日期，使用GMT（ISO 8601）的时间格式。
            -->
            <% if(og.videoType.episode.releaseDate !== null && og.videoType.episode.releaseDate !== undefined){ %>
                <meta property = 'og:video:release_date'
                      content = '<%= og.videoType.episode.releaseDate %>' />
            <% } %>
            <!--
            video:tag：与这部电影相关的标签词。
            -->
            <% if(Array.isArray( og.videoType.episode.tags )){ %>
                <% for( const tag of
                        og.videoType.episode.tags ){ %>
                    <meta property = 'og:video:tag'
                          content = '<%= tag %>' />
                <% } %>
            <% } %>
            <!--
            video:series：这一集属于哪个系列。
            -->
            <% if(og.videoType.episode.series !== null && og.videoType.episode.series !== undefined){ %>
                <meta property = 'og:video:series'
                      content = '<%= og.videoType.episode.series %>' />
            <% } %>
        <% } %>

        <!--多集电视节目，对应og:type为video.tv_show-->
        <% if(og.videoType.tvShow !== null && og.videoType.tvShow !== undefined){ %>
            <!--
            video:actor：电影中的演员。
            video:actor:role：他们扮演的角色。
            -->
            <% if(og.videoType.tvShow.actorToRole !== null && og.videoType.tvShow.actorToRole !== undefined){ %>
                <% Object.entries( og.videoType.tvShow.actorToRole ).forEach( ( [ actor, role ] ) => { %>
                    <!--
                    video:actor：电影中的演员。
                    -->
                    <meta property = 'og:video:actor'
                          content = '<%= actor %>' />
                    <!--
                    video:actor:role：他们扮演的角色。
                    -->
                    <meta property = 'og:video:actor:role'
                          content = '<%= role %>' />
                <% } ) %>
            <% } %>
            <!--
            video:director：电影导演。
            -->
            <% if(Array.isArray( og.videoType.tvShow.directors )){ %>
                <% for( const director of
                        og.videoType.tvShow.directors ){ %>
                    <meta property = 'og:video:director'
                          content = '<%= director %>' />
                <% } %>
            <% } %>
            <!--
            video:writer：电影编剧。
            -->
            <% if(Array.isArray( og.videoType.tvShow.writers )){ %>
                <% for( const writer of
                        og.videoType.tvShow.writers ){ %>
                    <meta property = 'og:video:writer'
                          content = '<%= writer %>' />
                <% } %>
            <% } %>
            <!--
            video:duration：值范围大于等于1，电影的长度（以秒为单位）。
            -->
            <% if(og.videoType.tvShow.duration !== null && og.videoType.tvShow.duration !== undefined){ %>
                <meta property = 'og:video:duration'
                      content = '<%= og.videoType.tvShow.duration %>' />
            <% } %>
            <!--
            video:release_date：电影上映日期，使用GMT（ISO 8601）的时间格式。
            -->
            <% if(og.videoType.tvShow.releaseDate !== null && og.videoType.tvShow.releaseDate !== undefined){ %>
                <meta property = 'og:video:release_date'
                      content = '<%= og.videoType.tvShow.releaseDate %>' />
            <% } %>
            <!--
            video:tag：与这部电影相关的标签词。
            -->
            <% if(Array.isArray( og.videoType.tvShow.tags )){ %>
                <% for( const tag of
                        og.videoType.tvShow.tags ){ %>
                    <meta property = 'og:video:tag'
                          content = '<%= tag %>' />
                <% } %>
            <% } %>
        <% } %>

        <!--其他类型的视频，对应og:type为video.other-->
        <% if(og.videoType.other !== null && og.videoType.other !== undefined){ %>
            <!--
            video:actor：电影中的演员。
            video:actor:role：他们扮演的角色。
            -->
            <% if(og.videoType.other.actorToRole !== null && og.videoType.other.actorToRole !== undefined){ %>
                <% Object.entries( og.videoType.other.actorToRole ).forEach( ( [ actor, role ] ) => { %>
                    <!--
                    video:actor：电影中的演员。
                    -->
                    <meta property = 'og:video:actor'
                          content = '<%= actor %>' />
                    <!--
                    video:actor:role：他们扮演的角色。
                    -->
                    <meta property = 'og:video:actor:role'
                          content = '<%= role %>' />
                <% } ) %>
            <% } %>
            <!--
            video:director：电影导演。
            -->
            <% if(Array.isArray( og.videoType.other.directors )){ %>
                <% for( const director of
                        og.videoType.other.directors ){ %>
                    <meta property = 'og:video:director'
                          content = '<%= director %>' />
                <% } %>
            <% } %>
            <!--
            video:writer：电影编剧。
            -->
            <% if(Array.isArray( og.videoType.other.writers )){ %>
                <% for( const writer of
                        og.videoType.other.writers ){ %>
                    <meta property = 'og:video:writer'
                          content = '<%= writer %>' />
                <% } %>
            <% } %>
            <!--
            video:duration：值范围大于等于1，电影的长度（以秒为单位）。
            -->
            <% if(og.videoType.other.duration !== null && og.videoType.other.duration !== undefined){ %>
                <meta property = 'og:video:duration'
                      content = '<%= og.videoType.other.duration %>' />
            <% } %>
            <!--
            video:release_date：电影上映日期，使用GMT（ISO 8601）的时间格式。
            -->
            <% if(og.videoType.other.releaseDate !== null && og.videoType.other.releaseDate !== undefined){ %>
                <meta property = 'og:video:release_date'
                      content = '<%= og.videoType.other.releaseDate %>' />
            <% } %>
            <!--
            video:tag：与这部电影相关的标签词。
            -->
            <% if(Array.isArray( og.videoType.other.tags )){ %>
                <% for( const tag of
                        og.videoType.other.tags ){ %>
                    <meta property = 'og:video:tag'
                          content = '<%= tag %>' />
                <% } %>
            <% } %>
        <% } %>
    <% } %>
    <!--Video，需要设置：<html prefix = 'og: https://ogp.me/ns/video#' >，End-->
    <!--og:video，需要设置：<html prefix = 'og: https://ogp.me/ns#' >，End-->

    <!--og:audio，需要设置：<html prefix = 'og: https://ogp.me/ns#' >，Start-->
    <!--
    当“og:type”为video.movie、video.episode、video.tv_show、video.other时，就不用再设置“og:audio”了，会冲突。
    同样的，当“og:type”为music.song、music.album、music.playlist、music.radio_station时，就不用再设置“og:video”了，会冲突。
    -->
    <% if(og.audio !== null && og.audio !== undefined){ %>
        <!--
        og:audio中content的值为音频的url，链接最好是https://的。
        -->
        <% if(og.audio.url !== null && og.audio.url !== undefined){ %>
            <meta property = 'og:audio'
                  content = '<%= og.audio.url %>' />
        <% } %>
        <!--
        og:audio:secure_url中content的值为音频的url，是备用的安全协议https://的链接。
        -->
        <% if(og.audio.secureURL !== null && og.audio.secureURL !== undefined){ %>
            <meta property = 'og:audio:secure_url'
                  content = '<%= og.audio.secureURL %>' />
        <% } %>
        <!--
        og:audio:type中content的值为音频的MIME，如：audio/mpeg。
        -->
        <% if(og.audio.type !== null && og.audio.type !== undefined){ %>
            <meta property = 'og:audio:type'
                  content = '<%= og.audio.type %>' />
        <% } %>
    <% } %>
    <!--
    当“og:type”为music.song、music.album、music.playlist、music.radio_station时，还可以设置如下属性。
    -->
    <!--Music，需要设置：<html prefix = 'og: https://ogp.me/ns/music#' >，Start-->
    <% if(og.musicType !== null && og.musicType !== undefined){ %>
        <!--歌曲，对应og:type为music.song-->
        <% if(og.musicType.song !== null && og.musicType.song !== undefined){ %>
            <!--
            music:duration：值范围为大于等于1，歌曲的长度（以秒为单位）。
            -->
            <% if(og.musicType.song.duration !== null && og.musicType.song.duration !== undefined){ %>
                <meta property = 'og:music:duration'
                      content = '<%= og.musicType.song.duration %>' />
            <% } %>
            <!--
            music:album：这首歌出自的专辑。
            -->
            <% if(Array.isArray( og.musicType.song.albums )){ %>
                <% for( const album of
                        og.musicType.song.albums ){ %>
                    <meta property = 'og:music:album'
                          content = '<%= album %>' />
                <% } %>
            <% } %>
            <!--
            music:album:disc：值范围为大于等于1，这首歌在专辑的哪张碟上。
            -->
            <% if(og.musicType.song.albumDisc !== null && og.musicType.song.albumDisc !== undefined){ %>
                <meta property = 'og:music:album:disc'
                      content = '<%= og.musicType.song.albumDisc %>' />
            <% } %>
            <!--
            music:album:track：值范围为大于等于1，这首歌是哪一首歌。
            -->
            <% if(og.musicType.song.albumTrack !== null && og.musicType.song.albumTrack !== undefined){ %>
                <meta property = 'og:music:album:track'
                      content = '<%= og.musicType.song.albumTrack %>' />
            <% } %>
            <!--
            music:musician：创作这首歌的音乐家。
            -->
            <% if(Array.isArray( og.musicType.song.musicians )){ %>
                <% for( const musician of
                        og.musicType.song.musicians ){ %>
                    <meta property = 'og:music:musician'
                          content = '<%= musician %>' />
                <% } %>
            <% } %>
        <% } %>

        <!--专辑，对应og:type为music.album-->
        <% if(og.musicType.album !== null && og.musicType.album !== undefined){ %>
            <!--
            music:song：这张专辑里的歌。
            -->
            <% if(og.musicType.album.song !== null && og.musicType.album.song !== undefined){ %>
                <meta property = 'og:music:song'
                      content = '<%= og.musicType.album.song %>' />
            <% } %>
            <!--
            music:song:disc：值范围为大于等于1，这首歌在专辑的哪张光盘上。
            -->
            <% if(og.musicType.album.songDisc !== null && og.musicType.album.songDisc !== undefined){ %>
                <meta property = 'og:music:song:disc'
                      content = '<%= og.musicType.album.songDisc %>' />
            <% } %>
            <!--
            music:song:track：值范围为大于等于1，这首歌是哪一首歌。
            -->
            <% if(og.musicType.album.songTrack !== null && og.musicType.album.songTrack !== undefined){ %>
                <meta property = 'og:music:song:track'
                      content = '<%= og.musicType.album.songTrack %>' />
            <% } %>
            <!--
            music:musician：创作这首歌的音乐家。
            -->
            <% if(og.musicType.album.musician !== null && og.musicType.album.musician !== undefined){ %>
                <meta property = 'og:music:musician'
                      content = '<%= og.musicType.album.musician %>' />
            <% } %>
            <!--
            music:release_date：专辑发行日期，使用GMT（ISO 8601）的时间格式。
            -->
            <% if(og.musicType.album.releaseDate !== null && og.musicType.album.releaseDate !== undefined){ %>
                <meta property = 'og:music:release_date'
                      content = '<%= og.musicType.album.releaseDate %>' />
            <% } %>
        <% } %>

        <!--播放列表，对应og:type为music.playlist-->
        <% if(og.musicType.playlist !== null && og.musicType.playlist !== undefined){ %>
            <!--
            music:song：这张专辑里的歌。
            -->
            <% if(og.musicType.playlist.song !== null && og.musicType.playlist.song !== undefined){ %>
                <meta property = 'og:music:song'
                      content = '<%= og.musicType.playlist.song %>' />
            <% } %>
            <!--
            music:song:disc：值范围为大于等于1，这首歌在专辑的哪张光盘上。
            -->
            <% if(og.musicType.playlist.songDisc !== null && og.musicType.playlist.songDisc !== undefined){ %>
                <meta property = 'og:music:song:disc'
                      content = '<%= og.musicType.playlist.songDisc %>' />
            <% } %>
            <!--
            music:song:track：值范围为大于等于1，这首歌是哪一首歌。
            -->
            <% if(og.musicType.playlist.songTrack !== null && og.musicType.playlist.songTrack !== undefined){ %>
                <meta property = 'og:music:song:track'
                      content = '<%= og.musicType.playlist.songTrack %>' />
            <% } %>
            <!--
            music:creator：此播放列表的创建者。
            -->
            <% if(og.musicType.playlist.creator !== null && og.musicType.playlist.creator !== undefined){ %>
                <meta property = 'og:music:creator'
                      content = '<%= og.musicType.playlist.creator %>' />
            <% } %>
        <% } %>

        <!--广播电台，对应og:type为music.radio_station-->
        <% if(og.musicType.radioStation !== null && og.musicType.radioStation !== undefined){ %>
            <!--
            music:creator：该广播电台的创建者。
            -->
            <% if(og.musicType.radioStation.creator !== null && og.musicType.radioStation.creator !== undefined){ %>
                <meta property = 'og:music:creator'
                      content = '<%= og.musicType.radioStation.creator %>' />
            <% } %>
        <% } %>
    <% } %>
    <!--Music，需要设置：<html prefix = 'og: https://ogp.me/ns/music#' >，End-->
    <!--og:audio，需要设置：<html prefix = 'og: https://ogp.me/ns#' >，End-->

    <!--article，对应og:type为article，需要设置: <html prefix = 'og: https://ogp.me/ns/article#' >，Start-->
    <% if(og.article !== null && og.article !== undefined){ %>
        <!--
        文章出版商。
        -->
        <% if(og.article.publisher !== null && og.article.publisher !== undefined){ %>
            <meta property = 'og:article:publisher'
                  content = '<%= og.article.publisher %>' />
        <% } %>
        <!--
        文章首次发表时间，值类型：datetime（ISO 8601），表示由日期（年、月、日）和可选时间组件（小时、分钟）组成的时间值。
        -->
        <% if(og.article.publishedTime !== null && og.article.publishedTime !== undefined){ %>
            <meta property = 'og:article:published_time'
                  content = '<%= og.article.publishedTime %>' />
        <% } %>
        <!--
        文章更改时间，值类型：datetime（ISO 8601），表示由日期（年、月、日）和可选时间组件（小时、分钟）组成的时间值。
        -->
        <% if(og.article.modifiedTime !== null && og.article.modifiedTime !== undefined){ %>
            <meta property = 'og:article:modified_time'
                  content = '<%= og.article.modifiedTime %>' />
        <% } %>
        <!--
        文章过期时间，值类型：datetime（ISO 8601），表示由日期（年、月、日）和可选时间组件（小时、分钟）组成的时间值。
        -->
        <% if(og.article.expirationTime !== null && og.article.expirationTime !== undefined){ %>
            <meta property = 'og:article:expiration_time'
                  content = '<%= og.article.expirationTime %>' />
        <% } %>
        <!--
        文章的作者，值类型为：数组。
        -->
        <% if(Array.isArray( og.article.authors )){ %>
            <% for( const author of
                    og.article.authors ){ %>
                <meta property = 'og:article:author'
                      content = '<%= author %>' />
            <% } %>
        <% } %>
        <!--
        文章的段落名称，值类型为：字符串。
        -->
        <% if(og.article.section !== null && og.article.section !== undefined){ %>
            <meta property = 'og:article:section'
                  content = '<%= og.article.section %>' />
        <% } %>
        <!--
        与本文相关的标签词，值类型为：字符串数组。
        -->
        <% if(Array.isArray( og.article.tags )){ %>
            <% for( const tag of
                    og.article.tags ){ %>
                <meta property = 'og:article:tag'
                      content = '<%= tag %>' />
            <% } %>
        <% } %>
    <% } %>
    <!--article，对应og:type为article，需要设置：<html prefix = 'og: https://ogp.me/ns/article#' >，End-->

    <!--book，对应og:type为book，需要设置：<html prefix = 'og: https://ogp.me/ns/book#' >，Start-->
    <% if(og.book !== null && og.book !== undefined){ %>
        <!--
        本书作者，值类型为：数组。
        -->
        <% if(Array.isArray( og.book.authors )){ %>
            <% for( const author of
                    og.book.authors ){ %>
                <meta property = 'og:book:author'
                      content = '<%= author %>' />
            <% } %>
        <% } %>
        <!--
        国际标准书号（ISBN），值类型为：字符串。
        -->
        <% if(og.book.isbn !== null && og.book.isbn !== undefined){ %>
            <meta property = 'og:book:isbn'
                  content = '<%= og.book.isbn %>' />
        <% } %>
        <!--
        书本发行日期，值类型为：datetime（ISO 8601），表示由日期（年、月、日）和可选时间组件（小时、分钟）组成的时间值。
        -->
        <% if(og.book.releaseDate !== null && og.book.releaseDate !== undefined){ %>
            <meta property = 'og:book:release_date'
                  content = '<%= og.book.releaseDate %>' />
        <% } %>
        <!--
        本书相关的标签词，值类型为：字符串数组。
        -->
        <% if(Array.isArray( og.book.tags )){ %>
            <% for( const tag of
                    og.book.tags ){ %>
                <meta property = 'og:book:tag'
                      content = '<%= tag %>' />
            <% } %>
        <% } %>
    <% } %>
    <!--book，对应og:type为book，需要设置：<html prefix = 'og: https://ogp.me/ns/book#' >，End-->

    <!--profile，对应og:type为profile，需要设置：<html prefix = 'og: https://ogp.me/ns/profile#' >，Start-->
    <% if(og.profile !== null && og.profile !== undefined){ %>
        <!--
        通常由父母或自己选择给个人的名字，值类型为：字符串。
        -->
        <% if(og.profile.firstName !== null && og.profile.firstName !== undefined){ %>
            <meta property = 'og:profile:first_name'
                  content = '<%= og.profile.firstName %>' />
        <% } %>
        <!--
        从家庭或婚姻继承而来的名字，个人众所周知的名字，值类型为：字符串。
        -->
        <% if(og.profile.lastName !== null && og.profile.lastName !== undefined){ %>
            <meta property = 'og:profile:last_name'
                  content = '<%= og.profile.lastName %>' />
        <% } %>
        <!--
        个简短的唯一字符串来识别它们，值类型为：字符串。
        -->
        <% if(og.profile.userName !== null && og.profile.userName !== undefined){ %>
            <meta property = 'og:profile:username'
                  content = '<%= og.profile.userName %>' />
        <% } %>
        <!--
        性别，值类型为：枚举，有效枚举值有：'male'（男）、'female'（女）。
        -->
        <% if(og.profile.gender !== null && og.profile.gender !== undefined){ %>
            <meta property = 'og:profile:gender'
                  content = '<%= og.profile.gender %>' />
        <% } %>
    <% } %>
    <!--profile，对应og:type为profile，需要设置：<html prefix = 'og: https://ogp.me/ns/profile#' >，End-->

    <!--以下官网没提到，但是貌似有用。-->
    <!--
    值为“true”时，发布的动态会呈现丰富的元数据，例如标题、说明、作者、网站名称和预览图片。
    -->
    <meta property = 'og:rich_attachment'
          content = 'true' />
    <!--
    再次抓取此页面之前经过的秒数，此属性可用于限制Facebook内容爬虫的抓取频率。
    允许的最小值为345600秒（4天），如果设置更低的值，会使用最小值345600。
    如果不包括此标签，会根据网页服务器返回的“Expires”标头计算ttl，否则默认为7天。
    -->
    <% if(og.ttl !== null && og.ttl !== undefined){ %>
        <meta property = 'og:ttl'
              content = '<%= og.ttl %>' />
    <% } %>
    <!--
    用于提供额外的链接（类似og:url），显示与对象相关的内容，链接最好是https://的。
    -->
    <% if(og.seeAlso !== null && og.seeAlso !== undefined){ %>
        <meta property = 'og:see_also'
              content = '<%= og.seeAlso %>' />
    <% } %>
    <!--
    上次更新的时间，使用GMT（ISO 8601）的时间格式，表示由日期（年、月、日）和可选时间组件（小时、分钟）组成的时间值。
    -->
    <% if(og.updatedTime !== null && og.updatedTime !== undefined){ %>
        <meta property = 'og:updated_time'
              content = '<%= og.updatedTime %>' />
    <% } %>
<% } %>
