<!--
Project: web-project-template
FileDirPath: src/template/ejs/HelloWorld.ejs
Author: 12278
Email: 1227839175@qq.com
IDE: WebStorm
CreateDate: 2022-07-30 14:08:53 星期六
-->
<%
const htmlWebpackPluginOptions = htmlWebpackPlugin.options,
        htmlWebpackPluginOptionsData = htmlWebpackPluginOptions.data;
%>
<!DOCTYPE html>
<% if(htmlWebpackPluginOptionsData.prefix !== null && htmlWebpackPluginOptionsData.prefix !== undefined){ %>
<html
        lang = '<%= htmlWebpackPluginOptionsData.lang ?? 'zh-CN' %>'
        prefix = '<%= htmlWebpackPluginOptionsData.prefix ?? 'og: https://ogp.me/ns#' %>'>
<% }else{ %>
<html lang = '<%= htmlWebpackPluginOptionsData.lang ?? 'zh-CN' %>'>
<% } %>
<head>
    <%= require( 'ejsDir/head_meta/MainMeta001.ejs' )( htmlWebpackPluginOptionsData ) %>
    <%= require( 'ejsDir/head_meta/MetaHttpEquiv001.ejs' )( htmlWebpackPluginOptionsData ) %>
    <%= require( 'ejsDir/head_meta/MetaName001.ejs' )( htmlWebpackPluginOptionsData ) %>
    <!--以上3个必须，且顺序有严格的要求：MainMeta001.ejs、MetaHttpEquiv001.ejs、MetaName001.ejs-->
    <!--可选 Start-->
    <%= require( 'ejsDir/head_meta/Meta_PreOperation_001.ejs' )( htmlWebpackPluginOptionsData ) %>
    <%= require( 'ejsDir/head_meta/Meta_itemprop_001.ejs' )( htmlWebpackPluginOptionsData ) %>
    <%= require( 'ejsDir/head_meta/Meta_og_001.ejs' )( htmlWebpackPluginOptionsData ) %>
    <%= require( 'ejsDir/head_meta/Meta_Facebook_001.ejs' )( htmlWebpackPluginOptionsData ) %>
    <%= require( 'ejsDir/head_meta/Meta_twitter_001.ejs' )( htmlWebpackPluginOptionsData ) %>
    <%= require( 'ejsDir/head_meta/Meta_AppLinks_001.ejs' )( htmlWebpackPluginOptionsData ) %>
    <%= require( 'ejsDir/head_meta/Meta_alternate_001.ejs' )( htmlWebpackPluginOptionsData ) %>
    <%= require( 'ejsDir/head_meta/Common001.ejs' )( htmlWebpackPluginOptionsData ) %>
    <%= require( 'ejsDir/head_meta/Meta_icon_001.ejs' )( htmlWebpackPluginOptionsData ) %>
    <!--可选 End-->

    <% if(htmlWebpackPluginOptions.title !== null && htmlWebpackPluginOptions.title !== undefined){ %>
        <title><%= htmlWebpackPluginOptions.title %></title>
    <% } %>

    <% if(htmlWebpackPluginOptionsData.assetsManifest !== null && htmlWebpackPluginOptionsData.assetsManifest !== undefined){ %>
        <script
                defer = 'defer'
                src = '<%= htmlWebpackPluginOptionsData.assetsManifest %>'></script>
    <% } %>
</head>
<body>
<h1>HelloWorld</h1>
</body>
</html>
