<!--
Project: web-project-template
FileDirPath: src/template/ejs/HelloWorld.ejs
Author: 12278
Email: 1227839175@qq.com
IDE: WebStorm
CreateDate: 2022-07-30 14:08:53 星期六
-->
<!DOCTYPE html>
<html lang = 'zh-CN'>
<head>
    <meta charset = 'UTF-8' />
    <title>HelloWorld</title>
    <script
            defer = 'defer'
            src = '../web_project_template_assets_manifest.js'></script>
</head>
<body>
<h1>HelloWorld</h1>
<div class = 'img001'>CSS中的图片1.avif</div>
<div class = 'img002'>CSS中的图片1.svg</div>
<div class = 'img003'>CSS中的图片1.webp</div>
<div class = 'img004'>CSS中的图片1.gif</div>
<div class = 'img005'>CSS中的图片1.jpg</div>
<div class = 'img006'>CSS中的图片1.png</div>
<h1>以下是img标签加载的图片</h1>
<img
        class = 'img007'
        src = '<%= require( 'imgDir/2.avif' ) %>'
        alt = '2.avif' />
<img
        class = 'img007'
        src = '<%= require( 'imgDir/2.svg' ) %>'
        alt = '2.svg' />
<img
        class = 'img007'
        src = '<%= require( 'imgDir/2.webp' ) %>'
        alt = '2.webp' />
<img
        class = 'img007'
        src = '<%= require( 'imgDir/2.gif' ) %>'
        alt = '2.gif' />
<img
        class = 'img007'
        src = '<%= require( 'imgDir/2.jpg' ) %>'
        alt = '2.jpg' />
<img
        class = 'img007'
        src = '<%= require( 'imgDir/2.png' ) %>'
        alt = '2.png' />
</body>
</html>
